body {
    font-family: Arial, sans-serif;
    background-color: #AC1C1C;
}
header{
    text-align: center;
}
#icon{
    width: 250px;
    text-align: center;
}
#content-panel {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333333;
    border: 20px solid #C0C0C0;
    text-align: center;
}
#button1{
    padding: 20px;
    margin-right: 50px
}
#button2{
    padding: 20px;
    margin-left: 50px
}
#button-container {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}
