* {
    box-sizing: border-box;
}
body {
    background-image: url('rico-tile.png');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    background-color: navajowhite;
}
.enlace {
    position: absolute;
    padding: 5px 40px;
}

.logo {
    width: 100px;
}
nav {
    background-color: #00583d;
    height: 80px;
    width: 100%;
    box-shadow: 0 6px 4px -1px rgba(0, 0, 0, 0.4);
    z-index: 900;
    position: relative;
}

    nav ul {
        float: right;
        margin-right: 170px;
        list-style: none;
        text-decoration: none;
    }

        nav ul li {
            display: inline-block;
            line-height: 44px;
            margin: 0 5px;
            text-decoration: none;
        }

            nav ul li a {
                font-size: 18px;
                padding: 7px 13px;
                color: #FFF;
                font-family: 'Roboto Mono',sans-serif;
                font-weight: bold;
            }

li a:hover {
    color: goldenrod;
}
#wsp-message{
    display:none;
}
#wsp-movil{
        display: none;
}
#toggle-menu-button {
    font-size: 30px;
    color: #FFF;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#toggle-menu {
    display: none;
}



#pedido {
    color: #FFF;
    font-family: 'Roboto Mono',sans-serif;
    font-weight: bolder;
    font-size: 15pt;
    text-decoration: none;
    margin: 24px 30px 0px 0px;
    float: right;
    right: 0;
    position: absolute;
}

    #pedido a {
        text-decoration: none;
        color: #FFF;
    }

#pedido-dropdown {
    display: none;
}

#pedido-dropdown-panel {
    border: 3px solid #00583d;
    border-top-width: 0;
    border-radius: 0px 0px 10px 10px;
    padding: 0px 0 67px 0;
    width: 300px;
    height: 400px;
    margin: 80px 0 20px 20px;
    background-color: ivory;
    color: #06170a;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.4);
    float: right;
    position: absolute;
    right: 4px;
    transition: all .5s;
    top: -100%;
}

#dropdown-subtotal {
    background-color: #00583d;
    color: #FFF;
    font-family: 'Roboto Mono',sans-serif;
    font-weight: bolder;
    font-size: 15pt;
    padding: 15px 12px 26px 33px;
    margin: 12px 0 0 -2px;
    width: 297px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

.fa-caret-down {
    color: #FFF;
}

    .fa-caret-down:hover {
        color: goldenrod;
    }

.fa-caret-up {
    color: #FFF;
    display: none;
}

    .fa-caret-up:hover {
        color: goldenrod;
    }

#scroll-pedidos {
    width: 280px;
    height: 320px;
    overflow: auto;
    margin-left: 7px;
}

.pedido-scroll {
    display: block;
    margin-top: 25px;
}

    .pedido-scroll .main-info-pedido {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
    }

        .pedido-scroll .main-info-pedido .fa-circle-xmark {
            display: flex;
            align-items: center;
            color: brown;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 10px;
        }

        .pedido-scroll .main-info-pedido .pedido-scroll-main {
            font-family: 'Roboto Condensed';
            font-size: 13pt;
            margin-top: 0;
            margin-bottom: 0;
        }

        .pedido-scroll .main-info-pedido .pedido-scroll-subtotal {
            font-family: 'Roboto Mono', sans-serif;
            margin-top: 0;
            margin-bottom: 0;
            margin-right: 10px;
        }

    .pedido-scroll .secondary-info-pedido {
        display: flex;
        width: 260px;
        margin: 3px 0 0 0;
        justify-content: center;
    }

        .pedido-scroll .secondary-info-pedido .pedido-scroll-toppings {
            margin: 0;
            text-align: center;
            max-width: 190px; /* Altura máxima para mostrar antes de activar el scroll */
            overflow-x: auto; /* Aparecerá el scroll si el contenido excede la altura máxima */
            white-space: pre-line;
        }

#aviso-menu {
    margin-top: 30px;
    font-family: 'Roboto Mono',sans-serif;
    text-align: center;
    font-size: 16pt;
    font-weight: bolder;
    text-decoration: underline;
}
.tab-panel {
    border: 3px solid #00583d;
    border-radius: 10px;
    width: 500px;
    margin: 20px auto;
    background-color: ivory;
    color: #06170a;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.tab-buttons {
    display: flex;
    justify-content: space-between;
}

.tab-button {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #00583d;
    color: #FFF;
    font-weight: bold;
    font-size: 14pt;
}
    .tab-button.active {
        background-color: ivory; /* Color de fondo activo */
        color: #06170a; /* Color de texto activo */
    }
#tab1 {
    border-top-left-radius: 3px;
    border-bottom-right-radius: 10px;
    font-family: 'Roboto Mono',sans-serif;
    padding: 10px;
}
    #tab1.active {
        border-top-left-radius: 15px;
    }
#tab2 {
    border-top-right-radius: 3px;
    border-bottom-left-radius: 10px;
    font-family: 'Roboto Mono',sans-serif;
}
    #tab2.active {
        border-top-right-radius: 15px;
    }
#menu {
    margin-top: 40px;
    margin-bottom: 40px;
}

    #menu p {
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-size: 16pt;
        font-weight: bold;
    }



.info-principal {
    display: flex;
}

/*ALMUERZOS*/



   .espacio-menu{
       display: flex;
       justify-content: center;
   }
   .espacio-diario .info-secundaria{
       display:none;
   }
   #menu-semanal{
   display: none;
   margin-bottom: 20px;
   justify-content: space-evenly;
   }
   #menu-semanal h1 {
        text-align: center;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 16pt;
        margin-bottom: 20px;
   }
   #menu-semanal p {
       font-family: 'Raleway', sans-serif;
   }
   #menu-semanal .precio{
       margin: 0;
       font-size: 15pt;
   }

   .contenido-menu-semanal .platos .info-principal {
       justify-content: left;
       font-size: 12pt;
       font-weight: bold;
   }
   
   .espacio-menu-semanal{
       margin-top: 2em;
   }
   .platos{
       width:94%
   }
   .contenido-menu-semanal {
       display: flex;
       justify-content: center;
       margin-top: 2em;
   }
   .guion{
       display: flex;
       justify-content: center;
       width: 16%;
   }
   .info-plato{
       display: flex;
       justify-content: left;
       align-items: center;
       width: 50%;
   }
   .plato{
       display: flex;
       justify-content: center;
       margin: 0;
       font-size: 1.1em;
   }
   .info-secundaria{
       display: flex;
       justify-content: center;
       font-size: 9pt;
       font-weight: bold;
       margin: .3em 0 0 0;
   }
   .precio{
       width: 34%;
       display: flex;
       justify-content: center;
       align-items: center;
       color: darkred;
   }

#wsp-icon {
    display:block;
    background-color: #25d366;
    color: #FFF;
    padding: 2px 8px;
    border-radius: 50%;
    font-size: 35px;
    position: fixed;
    bottom: 110px;
    right: 30px;
    text-align: center;
    z-index: 999;
}
    #wsp-icon i {
        margin-top: 5px;
        margin-right: 0px;
        margin-left: 0px;
    }
    
    #wsp-icon2 i {
        margin-top: 5px;
        margin-right: 0px;
        margin-left: 0px;
    }
/*RESPONSIVE RESPONSIVE*/
@media (max-width: 952px) {
    .enlace {
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .tab-panel {
        width: 90%;
    }
}
@media (max-width: 858px) {
    #toggle-menu-button {
        display: block;
    }
    #wsp-movil{
            width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
    }
    #wsp-icon2 {
    display:block;
    background-color: #25d366;
    color: #FFF;
    padding: 2px 8px;
    border-radius: 50%;
    font-size: 35px;
    text-align: center;
    z-index: 999;
    scale: 2.2;
}
    #wsp-icon{
        display:none;
    }
    #wsp-icon2{
        display: block;
    }
    #wsp-message{
        display: flex;
        font-size: 25pt;
        font-family: 'Roboto Mono', sans-serif;
        font-weight: bold;
        justify-content: center;
        margin-top: 80px;
        text-decoration: underline;
        text-align: center;
        color: #00583d;
    }
    nav {
            display: flex;
    justify-content: center;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #00583d;
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #toggle-menu:checked ~ ul{
        left: 0;
    }
    #toggle-menu:checked ~ #wsp-icon {
        right: 165px;
        transition: all .5s;
    }
    .tab-panel {
        width: 90%;
    }
    
}
@media (max-width: 390px) {
    
    #toggle-menu-button {
        display: block;
    }
    #wsp-icon{
        display:none;
    }
    #wsp-movil{
            width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
    }
    #wsp-icon2 {
    display:block;
    background-color: #25d366;
    color: #FFF;
    padding: 2px 8px;
    border-radius: 50%;
    font-size: 35px;
    text-align: center;
    z-index: 999;
    scale: 2.2;
}
    #wsp-icon2{
        display: block;
    }
    #wsp-message{
        display: flex;
        font-size: 25pt;
        font-family: 'Roboto Mono', sans-serif;
        font-weight: bold;
        justify-content: center;
        margin-top: 80px;
        text-decoration: underline;
        text-align: center;
        color: #00583d;
    }
    nav {
            display: flex;
    justify-content: center;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #00583d;
        top: 80px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #toggle-menu:checked ~ ul{
        left: 0;
    }
    #toggle-menu:checked ~ #wsp-icon {
        right: 165px;
        transition: all .5s;
    }
    .tab-panel {
        width: 90%;
    }
    
}

