body {
    font-family: Arial, sans-serif;
    background-color: #19212e;
}

#content-panel {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

#button-container {
    text-align: center;
    margin-top: 20px;
}
